.totallokal {
  text-align: center;
  padding: 20px;
  color: #070004;
  background-color: #ffd6eb;
  margin: 0;
}

.menu {
  background-color: #290016;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item {
  text-align: center;
  background-color: #290016;
}

.menu__link {
  display: block;
  text-decoration: none;
  color: #ffd6eb;
  padding: 10px;
}

.menu__item:not(:last-child) {
  border-bottom: 1px solid #ffd6eb;
}

.menu__item--active {
  background-color: #546a7b;
}

.menu__item:focus {
  background-color: #79a3a2;
}

.menu__item:hover {
  background-color: #79a3a2;
}

@media screen and (min-width: 550px) {
  .menu__list {
    display: flex;
    justify-content: center;
  }
  .menu__item:not(:last-child) {
    border-right: 1px solid #ffd6eb;
    border-bottom: 0;
  }
}
.footer {
  background-color: #290016;
  color: #ffd6eb;
  margin: 0;
  padding: 5px;
  text-align: center;
}

.postrecept {
  margin: 10px;
}

@media screen and (min-width: 550px) {
  .postrecept {
    margin: 0;
  }
}
.obsah {
  margin: 20px auto;
  max-width: 90vw;
}

@media screen and (min-width: 550px) {
  .obsah {
    margin: 40px auto;
  }
}
@media screen and (min-width: 930px) {
  .obsah {
    max-width: 838px;
  }
}
@media screen and (min-width: 1200px) {
  .obsah {
    max-width: 70vw;
  }
}
@media screen and (min-width: 2000px) {
  .obsah {
    max-width: 1400px;
  }
}
.recept {
  border: solid 2px #546a7b;
  border-radius: 40px;
  padding: 40px;
}

.recept__list {
  display: inline-block;
  line-height: 1.8;
  font-weight: bold;
  margin: 30px 60px;
  padding: 0;
}

.recept__title {
  text-align: center;
  margin: 0;
  padding-bottom: 40px;
  color: #273B3F;
}

.recept__img {
  border: 1px solid #070004;
  display: block;
  border-radius: 5px;
  max-width: 100%;
  margin: 0 auto;
}

.recept__link {
  color: #79a3a2;
}

/*@media screen and (min-width: 550px){
    .recept__inner-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 20px;
    } 


}*/
@media screen and (min-width: 880px) {
  /* .recept__inner-grid {
       display: block;
   }*/
  .recept__grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
  }
  .recept__list {
    margin: 0;
  }
  .recept__firstline {
    margin-top: 0;
  }
  .recept__lastline {
    margin-bottom: 0;
  }
  .recept__postup {
    grid-column: span 2;
  }
}
.drobecek {
  margin: 10px;
  color: #546a7b;
}

.drobecek__link {
  color: #546a7b;
}

.postblog {
  margin: 10px;
}

@media screen and (min-width: 690px) {
  .postblog {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
  }
}
.kontakt__link {
  color: #79a3a2;
}

.text--size {
  font-size: 18px;
}

.menu__item--size {
  font-size: 16px;
}

.post__perex--size {
  font-size: 16px;
}

.drobecek--size {
  font-size: 18px;
}

.totallokal--size-small {
  font-size: 30px;
}

.post__title--size {
  font-size: 24px;
}

.uvod__nadpis--size {
  font-size: 20px;
}

.recept__title--size-small,
.blog__title--size-small {
  font-size: 34px;
}

.uvod__text--size {
  font-size: 20px;
}

@media screen and (min-width: 550px) {
  .totallokal--size-big {
    font-size: 50px;
  }
  .recept__title--size-big,
.blog__title--size-big {
    font-size: 34px;
  }
}
.uvod {
  margin: 30px auto;
  text-align: center;
}

.uvod__nadpis {
  color: #273B3F;
  margin: 10px;
}

.uvod__text {
  margin: 20px;
}

.uvod__link {
  color: #79a3a2;
}

.postdohromady {
  margin: 10px;
}

@media screen and (min-width: 550px) {
  .postdohromady {
    margin: 0;
  }
  .uvod {
    margin: 40px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.post {
  border: solid 2px #546a7b;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  color: #070004;
  box-shadow: 1px 1px 2px #ced7de;
  transition: transform 0.08s;
}

.post__img {
  display: inline-block;
  max-width: 100%;
  margin: 0 auto;
}

.post__title {
  margin: 10px 0 0;
  color: #273B3F;
}

.post__link {
  text-decoration: none;
}

.post:hover, .post:focus {
  border: 2px solid #79a3a2;
  box-shadow: 1.5px 1.5px 2.5px #ced7de;
  transform: translate(-0.5px, -0.5px);
}

.post:active {
  border: 2px solid #79a3a2;
  box-shadow: 1px 1px 2px #ced7de;
  transform: translate(0, 0);
}

.post__title--height {
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post__position-box {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}

.post__category {
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  padding: 7px;
  border-bottom-right-radius: 10px;
  color: #070004;
  font-size: 14px;
  font-weight: 600;
}

.post__category--recept {
  background-color: #ffd6eb;
}

.post__category--blog {
  background-color: #79a3a2;
}

.body,
.post__category,
.menu__link {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

.recept__title,
.post__title,
.kontakt,
.kontakt__link,
.drobecek,
.drobecek__link {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}

.totallokal {
  font-family: "sigmar one", "Times New Roman", Times, serif;
}

@media screen and (min-width: 550px) {
  .kontejner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media screen and (min-width: 930px) {
  .kontejner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */