$primary: #070004;
$border-img: #070004;
$menu-text: #ffd6eb;
$recept-tag: #ffd6eb;
$footer-text: #ffd6eb;
$decoration: #ffd6eb;
$totallokal-background:#ffd6eb;
$title: #273B3F;
$menu-background: #290016;
$footer-background: #290016;
$varovani-border: #070004;
$varovani-inside: #ffebf5;
$active: #546a7b;
$drobecek: #546a7b;
$border-post: #546a7b;
$drobecek: #546a7b;
$border-shadow: #ced7de;
$focus-hover: #79a3a2;
$link: #79a3a2;
$blog-tag: #79a3a2;

