$primary: #070004;
$menutext: #ffd6eb;
$menubackground: #290016;
$active: #546a7b;
$background: #FFFEFE;
$border: #546a7b;
$borderimg: #070004;
$focus-hover: #79a3a2;
$link: #79a3a2;
$drobecek: #546a7b;