$primary: #070004;
$borderimg: #070004;
$menutext: #ffd6eb;
$title: #273B3F;
$menubackground: #290016;
$background: #FFFEFE;
$active: #546a7b;
$drobecek: #546a7b;
$border: #546a7b;
$drobecek: #546a7b;
$bordershadow: #ced7de;
$buttonbackground: #546a7b;
$focus-hover: #79a3a2;
$link: #79a3a2;
$bordershadowactive: #cedede

