.body, 
.post__category,
.menu__link {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

.recept__title,
.blog__title,
.post__title,
.kontakt,
.kontakt__link,
.drobecek,
.drobecek__link {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
}

.totallokal {
    font-family: 'sigmar one', 'Times New Roman', Times, serif;
}