.text--size {
    font-size: 18px;
}

.menu__item--size {
    font-size: 16px;
}

.post__perex--size {
    font-size: 16px;
}

.drobecek--size {
    font-size: 18px;
}

.totallokal--size-small {
    font-size: 30px;
}

.post__title--size {
    font-size: 24px;
}

.uvod__nadpis--size {
    font-size: 20px;
}

.recept__title--size-small,
.blog__title--size-small {
    font-size: 34px;
}

.uvod__text--size {
    font-size: 20px;
}

@media screen and (min-width: 550px) {

    .totallokal--size-big {
        font-size: 50px;
    }
    
    
    .recept__title--size-big,
    .blog__title--size-big {
        font-size: 34px;
    }
    
}