@use 'colors';

.totallokal {
    font-family: 'sigmar one', 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
    color: colors.$primary;
    background-color: colors.$menutext;
    margin: 0;
}


