@use 'colors';


.menu {
    background-color: colors.$menubackground;
}

.menu__list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menu__item {
    text-align: center;
    background-color: colors.$menubackground;
}


.menu__link {
    display: block;
    text-decoration: none;
    color: colors.$menutext;
   
    padding: 10px;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

.menu__item:not(:last-child) {
    border-right: 1px solid colors.$menutext;
  }

.menu__item--active {
    background-color: colors.$active;
}