@use 'colors';

.menu {
    background-color: colors.$menu-background;
}

.menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__item {
    text-align: center;
    background-color: colors.$menu-background;
}

.menu__link {
    display: block;
    text-decoration: none;
    color: colors.$menu-text;
    padding: 10px;
}

.menu__item:not(:last-child) {
    border-bottom: 1px solid colors.$decoration;
}

.menu__item--active {
    background-color: colors.$active;
}

.menu__item:focus {
    background-color: colors.$focus-hover;
}

.menu__item:hover {
    background-color: colors.$focus-hover;
}

@media screen and (min-width: 550px){

       .menu__list {
        display: flex;
        justify-content: center;
    }

    .menu__item:not(:last-child) {
        border-right: 1px solid colors.$decoration;
        border-bottom: 0;
    }
}