@use 'colors';


.obsah {
    margin: 20px auto;
    max-width: 90vw;
}

@media screen and (min-width: 550px){
    .obsah {
        margin: 40px auto;
    }
}


@media screen and (min-width: 930px) {
    .obsah {
        max-width: 838px;}
}


@media screen and (min-width: 1200px) {
    .obsah {
        max-width: 70vw;}
}