@use 'colors';

.post {
    border: solid 2px colors.$border-post;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: colors.$primary;
    box-shadow: 1px 1px 2px colors.$border-shadow;
    transition: transform 0.08s;
}

.post__img {
    display: inline-block;
    max-width: 100%;
    margin: 0 auto;
}

.post__title {
    margin: 10px 0 0;
    color: colors.$title;
    line-height: 1.2;
}

.post__link {
    text-decoration: none;
}

.post:hover, .post:focus  {
    border: 2px solid colors.$focus-hover;
    box-shadow: 1.5px 1.5px 3px colors.$border-shadow;
    transform: translate(-1px, -1px);
}

.post:active {
    border: 2px solid colors.$focus-hover;
    box-shadow: 1px 1px 2px colors.$border-shadow;
    transform: translate(0, 0);
}

.post__title--height {
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.post__position-box {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

.post__category {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    padding: 7px;
    border-bottom-right-radius: 10px;
    color: colors.$primary;
    font-size: 14px;
    font-weight: 600;
}

.post__category--recept {
    background-color: colors.$recept-tag;
}

.post__category--blog {
    background-color: colors.$blog-tag;
}


