@use 'colors';

.post {
    border: solid 2px colors.$border;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: colors.$primary;
    box-shadow: 1px 1px 2px colors.$bordershadow;
}

.post__img {
    max-width: 100%;
}

.post__title {
    margin: 10px 0 0;
    color: colors.$title;
    font-family: 'Bebas Neue';
}

.post__link {
    text-decoration: none;
}

.post:hover, .post:focus  {
    border: 2px solid colors.$focus-hover;
    box-shadow: 1px 1px 2px colors.$bordershadowactive;
}

.post__title--height {
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 



