@use 'colors';

.uvod {
    max-width: 80vw;
    text-align: justify;
    margin: 50px auto 30px;
   /* border: 6px double colors.$link;
    border-radius: 20px;
    padding: 20px;
    background-color: colors.$primary;*/
}
/*
.uvod__text {
    color: colors.$link;
}*/

@media screen and (min-width: 550px) {
    
    .uvod {
        max-width: 70vw;
    }
}

@media screen and (min-width: 750px) {
    
    .uvod {
        max-width: 50vw;
    }
}

@media screen and (min-width: 1200px) {
    
    .uvod {
        max-width: 40vw;
    }
}

.uvod__text {
    font-size: 22px;
}

.uvod::before, .uvod::after {
    content: '';
    display: block;
    height: 3px;
    max-width: 180px;
    background-color: colors.$menutext;
    margin: 0 auto;
}

.uvod__nadpis {
    color: colors.$title;
    margin: 10px;
}


.uvod__link {
    color: colors.$link;
}

.postdohromady {
    margin: 10px;
}

@media screen and (min-width: 550px){ 

    .postdohromady {
        margin: 0;
    }

    .kontejner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media screen and (min-width: 930px){ 

    .kontejner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}