@use 'colors';

.uvod {
    margin: 30px auto;
    text-align: center;
}


.uvod__nadpis {
    color: colors.$title;
    margin: 10px;
}

.uvod__text {
    margin: 20px;
}

.uvod__link {
    color: colors.$link;
}

.postdohromady {
    margin: 10px;
}

@media screen and (min-width: 550px){ 

    .postdohromady {
        margin: 0;
    }

    .uvod {
        margin: 40px auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}