@use 'header';
@use 'menu';
@use 'footer';
@use 'recepty';
@use 'obsah';
@use 'recept';
@use 'drobecek';
@use 'blog';
@use 'blogy';
@use 'onas';


html {box-sizing: border-box;}
*, ::before, ::after {box-sizing: inherit;}

body {
    margin: 0;
    font-family: 'Fira Sans';
}