    <header class="header">
        <h1 class="totallokal totallokal--size">TOTÁL LOKÁL</h1>    
        
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item menu__item--size {{ 'menu__item--active' if page.fileSlug === '' }}"><a href="/" class="menu__link">ÚVOD</a></li>
                <li class="menu__item menu__item--size {{ 'menu__item--active' if page.fileSlug === 'recepty' }}"><a href="/recepty/" class="menu__link">RECEPTY</a></li>
                <li class="menu__item menu__item--size {{ 'menu__item--active' if page.fileSlug === 'blog' }}"><a href="/blog/" class="menu__link">BLOG</a></li>
                <li class="menu__item menu__item--size {{ 'menu__item--active' if page.fileSlug === 'onas' }}"><a href="/onas/" class="menu__link">O NÁS</a></li>
            </ul>

        </nav>
        
    </header>