---
layout: layouts/hlavni-sablona.njk
---


<main class="obsah">

 
    <div class="kontejner2">

        {% for post in collections.blog | reverse %}
        
           
            <a class="post__link" href="{{ post.url }}">
                 <div class="post postblog">
                    <div class="postblog__inner-flex">
                        <img class="post__img" src="/images/{{ post.data.foto}}" alt="{{ post.data.alt}}">
                    </div>
                    <div class="postblog__inner-flex">
                        <div>
                            <h2 class="post__title post__title--size">{{ post.data.title }} </h2>
                            <p class="post__perex post__perex--size"> {{ post.data.perex }} </p>
                        </div>
                    </div>
                 </div>
            </a>
           
        {% endfor %}
    <div>

</main>