---
layout: layouts/hlavni-sablona.njk
---

<p class="drobecek drobecek--size"><a class="drobecek__link drobecek--size" href="/blog/index.html">Blog</a>/{{ title }}</p>

<main class="obsah">
    <div class="blog">

        <h2 class="blog__title blog__title--size">{{ title }}</h2>

        <p class="blog__meta text--size">Publikováno {{ page.date.toLocaleString('cs-CZ') }}</p>

        {{ content | safe }}
    </div>
</main>