---
layout: layouts/hlavni-sablona.njk
---


<main class="obsah">

 
    <div class="kontejner2">

        {% for post in collections.blog %}
        
            <div class="postblog">
                <img class="postblog__img" src="/images/{{ post.data.foto}}" alt="{{ post.data.alt}}">
                <div class="postblog__box">
                    <h2 class="postblog__title">{{ post.data.title }} </h2>
                    <p class="postblog__perex"> {{ post.data.perex }} </p>
                    <p><a class="postblog__link" href="{{ post.url }}">Celý článek</a></p>
                </div>
            </div>

        {% endfor %}
    <div>

</main>