---
layout: layouts/hlavni-sablona.njk
---

<main class="obsah">

    <p><a href="/recepty/index.html">Recepty</a>/{{ title }}</p>

    <div class="recept">
        <h2>{{ title }}</h2>

        {{ content | safe }}
    </div>
    
</main>