---
layout: layouts/hlavni-sablona.njk
---

<main class="obsah">

            <div class="kontejner">
                {% for post in collections.recept %}

                    <a class="post__link" href="{{ post.url }}">
                        <div class="post postrecept">
                            <img class="post__img" src="/images/{{ post.data.foto}}" alt="{{ post.data.alt}}">
                            <div class="post__title--height">
                                <h2 class="post__title post__title--size">{{ post.data.title }}</h2>
                            </div>
                        </div>
                    </a>

                {% endfor %}
            </div>
</main>