---
layout: layouts/hlavni-sablona.njk
---

<main class="obsah">

            <div class="kontejner">
                {% for post in collections.recept %}

                    <a href="{{ post.url }}">
                        <div class="postrecept">
                            <img src="/images/{{ post.data.foto}}" alt="{{ post.data.alt}}">
                            <h2>{{ post.data.title }}</h2>
                        </div>
                    </a>

                {% endfor %}
            </div>
</main>