---
layout: layouts/hlavni-sablona.njk
---

<p class="drobecek"><a class="drobecek__link" href="/recepty/index.html">Recepty</a>/{{ title }}</p>

<main class="obsah">
    
    <div class="recept">
        <h2 class="recept__title">{{ title }}</h2>

        {{ content | safe }}
    </div>
    
</main>