---
layout: layouts/hlavni-sablona
---

<main class="obsah">

    <div class="uvodtext">
        <p>Vítejte na webové kuchařce "Totál lokál". Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala Lalala vLalala Lalala Lalala</p>
    </div>


     <div class="kontejner">
        {% for post in collections.dohromady | limit(3) %}

            <a href="{{ post.url }}">
                <div class="postdohromady">
                    <img src="/images/{{ post.data.foto}}" alt="{{ post.data.alt}}">
                    <h2>{{ post.data.title }}</h2>
                </div>
            </a>

        {% endfor %}
    </div>
</main>