---
layout: layouts/hlavni-sablona
---

<main class="obsah">

    {{ content | safe }}

    <div class="kontejner">
        {% for post in collections.dohromady | reverse | limit(3) %}

            <a class="post__link" href="{{ post.url }}">
                <div class="post postdohromady">
                    <div class="post__position-box">
                        <p class="post__category {{ 'post__category--blog' if post.data.category === 'blog' }} {{ 'post__category--recept' if post.data.category === 'recept' }}">{{ post.data.category }}</p>
                        <img class="post__img" src="/images/{{ post.data.foto }}" alt="{{ post.data.alt }}">
                    </div>
                    <div class="post__title--height">   
                        <h2 class="post__title">{{ post.data.title }}</h2>
                    </div>
                </div>
            </a>

        {% endfor %}
    </div>


    


</main>